body {
    background-color: burlywood;
}

h1 {
    text-align: center;
}

button {
    padding: 10px 30px;
    margin: 10px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-variant-caps: small-caps;
    font-family: monospace;
    font-weight: 900;
}

div.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.player {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: end;
}

div.cpu {
    width: 30%;
    flex-direction: column;
    text-align: start;
}

div.buttons-colors {
    display: flex;
    flex-direction: column;

}

#player_plays {
    width: 100%;
    height: 200px;
}

#cpu_plays {
    width: 100%;
    height: 200px;
}

#versus {
    width: 25%;
    height: 200px;
    background-image: url(../imgs/versus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player-paper {
    background-image: url(../imgs/Papel.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.player-rock {
    background-image: url(../imgs/Pedra.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(180deg)
}

.player-scissors {
    background-image: url(../imgs/Tesoura.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.cpu-paper {
    background-image: url(../imgs/Papel.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.cpu-rock {
    background-image: url(../imgs/Pedra.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.cpu-scissors {
    background-image: url(../imgs/Tesoura.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    background-position: right;
}

.player_buttons {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

#player-paper_button {
    background-color: red;
}

#player-rock_button {
    background-color: brown;
}

#player-scissors_button {
    background-color: gray;
}